<header>
  <div class="container-fluid">
    <nav style="margin-right: 3%;">
      <ul>
        <img
          src="/internal/web/static/assets/logo.png"
          style="width: 140px; height: 120px"
        />
        <hgroup>
          <h1>go-gate</h1>
          <p>A lightweight and simple API gateway</p>
        </hgroup>
      </ul>
      <ul>
        <li><a href="/">Dashboard 📊</a></li>
        <li>
          <details class="dropdown">
            <summary>Services</summary>
            <ul>
              <li><a href="/proxy">Proxy Mapping 📚</a></li>
              <li><a href="#">Logs 📝</a></li>
              <li><a href="#">Security 🔐</a></li>
            </ul>
          </details>
        </li>
        <li>|</li>
        <li class="icon-link">
          <a href="#" id="color-mode-switcher">
            <img width="24" height="24" src="https://img.icons8.com/external-anggara-basic-outline-anggara-putra/24/external-nightmode-communication-anggara-basic-outline-anggara-putra.png" alt="nightmode icon"/>
          </a>
        </li>
        <li class="icon-link">
          <a href="https://github.com/A-Oez/go-gate">
            <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/30/github.png" alt="nightmode icon"/>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <hr />
</header>
<script src="/internal/web/static/js/theme_switcher.js"></script>