<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="light dark">
        <title>go-gate</title>
        <link rel="stylesheet" href="/internal/web/static/css/layout.css">
        <link rel="stylesheet" href="/internal/web/static/css/proxy.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.slate.min.css"/>
    </head>
    <body>
        {{template "components/navbar" .}}
        <main class="container-fluid" id="main">
            <hgroup>
                <h2>Proxy Mapping</h2>
                <p>Manage and define routing rules for backend services through the gateway.</p>
            </hgroup>
            {{template "components/proxy_table" .}}
        </main>
        {{template "components/footer" .}}
    </body>
</html>
